extends layout

block append head
    script(src="/javascript/house/houseView.js")

block content
    div
        div.row.border-bottom
            div.col-md-6(style="height:auto;")
                div.house-title
                    div(style="width:100%;")
                        span.h4 #{house.title}
                    div(style="width:100%;")
                        each houseType in house.houseTypes
                            div.tag #{houseType}
            div.col-md-5
                div.house-info-box
                    div.house-info-num.text-center #{house.price.unit}#{house.price.value}
                    div.house-info-name.text-center 価格
                div.house-info-box
                    div.house-info-num.text-center #{house.bedroomNum}
                    div.house-info-name.text-center ベッドルーム#{house.bedroomNum > 1 ? 's' : ''}
                div.house-info-box
                    div.house-info-num.text-center #{house.bathroomNum}
                    div.house-info-name.text-center バスルーム#{house.bathroomNum > 1 ? 's' : ''}
                div.house-info-box
                    div.house-info-num.text-center #{house.areaSize.value}
                    div.house-info-name.text-center #{house.areaSize.unit}
        div.row(style="margin-bottom: 10px;")
            div.image-box.border-bottom.col-md-4
                div.image-large-box
                    if house.images.length > 0
                        img(width="500", src="/uploads/#{house.images[0]._id}/large#{house.images[0].extension}", image-id="#{house.images[0]._id}")
                    else
                        img(src="/uploads/default/large.jpg")
                div.image-small-box
                    ul.list-inline
                        each image, i in house.images
                            if i == 0
                                li.active.image-slideshow
                                    img(src="/uploads/#{image._id}/small#{image.extension}", image-id="#{image._id}")
                            else
                                li.image-slideshow
                                    img(src="/uploads/#{image._id}/small#{image.extension}", image-id="#{image._id}")

        div.row
            div.col-xs-12
                span.h4(style="border-bottom:1px solid #333; margin-bottom: 10px;") 簡単な紹介
                div(style="margin-top: 10px;")
                    p(style="font-size:14px;line-height: 21px;") !{house.description}
        
        div.row
            div.popin.col-md-4(style="margin-top: 25px;")
                div#map

        br
        br
        br
        br
        br
        br
        div
            form#new_form(enctype="multipart/form-data", method="post", action="/house/photoupload/#{house._id}")
                input(type="text", name="title")
                input#photo(type="file", name="photo", accept="image/*", capture="camera", style="display:none;", onchange="var reader=new FileReader();reader.onload=function(e){$('#preview').attr('src',e.target.result).show()};reader.readAsDataURL(this.files[0])")
                br
                br
                input.button(type="button", value="+ Photo", style="margin-right:80px;", onclick="$('#photo').click()")
                input.button(type="submit", value="Upload")
